@media  screen and (max-width: 1200px){
  *{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
  }
  .main_header header{
   width: 100%;
   display: block;
   background-color: gray;
   min-height: 2em;
   border: solid 3px #0F7391;
  }
  #header_sign{
   margin: 1em auto;
   display: flex;
   justify-content: center;
   width: 50%;
   align-items: center;
   border: 5px solid black; 
 }
 .main_header h2{
   color: white;
   font-size: 1em;
   padding: 1em;
   padding-top: 0;
   max-width: 100%;
 }
 .main_block{
   display: flex;
   flex-direction: column;
 }
 
 .main_nav{
   order: -1;
   text-align: left;
   line-height: 2em;
   width: 100%;
   background-color: #CCCCCC;
   min-height: 5em;
   padding-left: 10%;
   padding-top: 3%;
   border: solid 3px #0F7391;
 }
 .main_nav a{
   color: rgb(175, 61, 61);
   font-size: 2em;
   font-weight: bold;
   text-align: left;   
 }
 .block2{
   width: 100%;
   min-height: 30em;
   text-align: justify ;
   line-height: 1.5em;
   font-size: 1.5em;
   padding: 2%;
   background-color: #CCCCCC;
   border: solid 3px #0F7391;
 }
 .block3{
   width: 100%;
   background-color: #fff;
   min-height: 20em;
   align-items: center;
 }
 .block3 p{
   font-size: 1.5em;
   padding: 2%;
   word-wrap: break-word;
   text-align: justify;
   
 }
 .block4{
   align-self:baseline;
   background-color: rgb(132, 132, 151);
   min-height: 7em;
   width: 100%;
   border: 3px solid #0F7391;
 }
 .block4 p{
   text-align:justify;
   font-size: 1.5em;
   color: white;
   padding: 2%;
 }
 .main_footer footer{
   display: block;
   min-height: 2em;
   background-color: rgb(134, 114, 114);
   border: 3px solid #0F7391;
 }
 #footer_sign{
   margin: 1em auto;
   text-align: center;
   width: 50%;
   border: 5px solid black;
 }
 .main_footer h1{
   font-size: 1em;
   color: white;
   padding: 1em;
   padding-top: 0;
   max-width: 100%;
 }
 
 }
 
 @media screen and (min-width: 1201px){
   *{
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
 }
 
 .main_header header{
     display: flex;
     background-color: gray;
     min-height: 10em;
     border: solid 3px #0F7391;
 
 }
 
 .main_block{
     display: flex;
 }
 .main_central_blocks{
     display: flex;
     width: 80%;
     flex-wrap: wrap;
     flex-direction: row;
 }
 .main_central_blocks p{
     padding: 3%;
 }
 .main_nav{
     line-height: 3em;
     width: 20%;
     background-color: #CCCCCC;
     min-height: 30em;
     padding-left: 3%;
     padding-top: 3%;
     border: solid 3px #0F7391;
 }
 .main_nav a{
     color: rgb(175, 61, 61);
     font-size: 3em;
     text-align: left;   
 }
 .block2{
     width: 25%;
     min-height: 40em;
     text-align: justify ;
     line-height: 1.5em;
     font-size: 1.1em;
     background-color: #CCCCCC;
     border: solid 3px #0F7391;
     
 }
 .block3{
     width: 75%;
     background-color: #fff;
     min-height: 40em;
     display: flex;
     flex-direction: column;
     align-items: center;
     
     
 }
 .block3 p{
     
     font-size: 2em;
     padding: 2%;
     word-wrap: break-word;
     text-align: justify;
     
 }
 .block4{
     align-self:baseline;
     background-color: rgb(132, 132, 151);
     min-height: 10em;
     width: 100%;
     border: solid 3px #0F7391;
 }
 .block4 p{
     text-align:justify;
     font-size: 1em;
     color: white;
     padding: 2%;
 }
 .main_footer footer{
     display: flex;
     min-height: 10em;
     background-color: rgb(134, 114, 114);
     flex-direction: row;
     border: solid 3px #0F7391;
 }
 .main_header h2{
     color: white;
     font-size: 2em;
     margin: 1em 1em 1em 0;
     max-width: 78%;
     
 }
 #header_sign{
     margin: auto;
     display: flex;
     justify-content: center;
     width: 15%;
     align-items: center;
     border: 5px solid black;
     
 }
 #footer_sign{
     margin: auto;
     display: flex;
     justify-content: center;
     width: 15%;
     height: 10%;
     align-items: center;
     border: 5px solid black;
 }
 .main_footer h1{
     color: white;
     font-size: 3em;
     margin: auto;
     max-width: 78%;
 }
 
 
 }
 

